<div class="container">
	<h4>Create New Video</h4>
	<form class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input id="title" class="validate" type="text" ng-model="title">
				<label for="title">Title</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="description" class="materialize-textarea" ng-model="description"></textarea>
				<label for="description">Description</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="sortOrder" type="text" ng-model="sortOrder">
				<label for="sortOrder">Sort Order</label>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<label for="publishedDate">Published Date</label>
				<input id="publishedDate" type="date" class="datepicker" ng-model="publishedDate">
			</div>
		</div>
	</form>
	<div>
		<a href="#/" class="btn" ng-click="saveChanges()">Save <i class="material-icons right">send</i></a>
		<a href="#/" class="btn">Cancel <i class="material-icons right">stop</i></a>
	</div>
</div>